.p-home {
  width: 100%;
  ul, li { padding:0;margin:0;list-style:none}

  .c-head {
    height: 238px;
    box-sizing: border-box;
    border: 1px solid transparent;

    .bg {
      width: 100%;
      height: 100%;

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(255,255,255,0.33);
        backdrop-filter: blur(20px);
      }
    }

    .bg_img {
      width: 100%;
      height: 100%;
      // filter: blur(40px) brightness(1.5);
    }

    .content {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .title {
      margin: 30px 12px 16px;
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #212121;
      letter-spacing: 0.5px;
      text-align: center;
      font-weight: blod;
    }

    .chain-box {
      width: 100%;
    }

    .chains {
      height: 100px;
      box-sizing: border-box;
      padding: 0 8px;
      white-space:nowrap
    }

    .item {
      float: left;
    }

    .pic {
      width: 100px;
      height: 100px;
      margin: 0 4px 9px;
      background: #0C186E;
      border-radius: 8px;
    }

    .activity-content {
      display: none;
    }

    img.city {
      height: 100%;
    }

    .activity {
      .pic {
        box-shadow: 0 0 0 2px #FFDF41;
      }

      .activity-content {
        width: 100px;
        height: 100px;
        display: table-cell;
        font-family: PingFangSC-Medium;
        font-size: 16px;
        letter-spacing: -0.3px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        border-radius: 8px;
        background: rgba($color: #000000, $alpha: 0.6);
      }
    }

    .city-content {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      letter-spacing: -0.3px;
      line-height: 18px;
      margin: 1px 0 2px 4px;
    }

    .city-name {
      color: #212121;
    }

    .city-time {
      color: #56595E;
    }
  }

  .c-body {
    position: relative;
    min-height: 600px;
    background: white;
    border: 1px solid transparent;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -11px;
      margin-left: -8px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 0px;
      border-bottom: 11px solid white;
    }

    .content {
      margin: 0 12px;
    }

    .title {
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #212121;
      letter-spacing: 0.5px;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 12px;
    }

    .item {
      display: flex;
      align-items: center;
      width: 100%;
      height: 126px;
    }

    .preview {
      background: violet;
      display: inline-block;
      width: 81px;
      height: 102px;
      border-radius: 8px;
      overflow: hidden;
    }

    .bird {
      width: 43px;
      height: 20px;
      border-bottom-right-radius: 8px;
    }

    .infos {
      height: 102px;
      flex-grow: 1;
      margin-left: 11px;
      background: white;
      position: relative;
    }

    .ticket-title, .ticket-intro {
      word-break: break-all;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    .ticket-title {
      font-family: PingFangSC-Semibold;
      font-size: 17px;
      color: #212121;
      margin-bottom: 5px;
    }

    .ticket-intro {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #969BA3;
      letter-spacing: -0.3px;
      line-height: 18px;
      -webkit-line-clamp: 2;
    }

    .ticket-price {
      position: absolute;
      bottom: 2px;
    }

    .dollor {
      font-family: PingFangSC-Semibold;
      font-size: 14px;
      color: #FF5C33;
      letter-spacing: 0.39px;
      margin-right: -3px;
    }

    .price {
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #FF5C33;
      letter-spacing: 0.5px;
    }

    .btn {
      position: absolute;
      right: 0;
      bottom: 2px;
      width: 76px;
      height: 30px;
      border-radius: 15px;
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #432608;
      letter-spacing: -0.3px;
      text-align: center;
      line-height: 30px;
      background-image: linear-gradient(206deg, #FFF176 0%, #FFDF41 95%);
    }

    .bottom-line {
      width: 110%;
      height: 1px;
      background: #F5F5F5;
      position: absolute;
      bottom: -13px;
      right: -10%;
    }
  }
}